*,
::before,
::after {
  box-sizing: border-box;
}

body {
  background: #1b1b1b;
  margin: 0;
  color: #afafaf;
  display: flex;
  min-height: 100vh;
  flex-flow: column;
}

header {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  height: 44px;
  background: #333;
}

header > .icon-download {
  position: absolute;
  right: 1rem;
  font-size: 1.5rem;
  cursor: pointer;
}
header > .icon-download:active {
  color: #fff;
}

@media (hover: hover) {
  header > .icon-download:hover {
    color: #fff;
  }
}
